html,
body {
    font-family: sans-serif;
    line-height: 1.7;
    font-size: 3vh;
    padding: 0;
    margin: 0;
    text-align: justify;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 1.8rem 2rem 2rem 2rem;
}

hr {
    border-top: 2px solid black;
}

h1 {
    font-size: 3vh;
    text-align: center;
}

h2 {
    text-align: center;
    letter-spacing: .2rem;
}

a,
a:visited {
    color: red;
    text-decoration: none;
    border-bottom: 1px solid;
}

.poster,
.gallery {
    width: 100%;
    display: block;
    text-align: center;
}

.poster img {
    width: 20vw;
    filter: grayscale(100%);
    cursor: pointer;
}

.poster img:hover {
    filter: unset;
}

.gallery img {
    height: 20vh;
    width: auto;
    filter: grayscale(100%);
    margin: 1rem;
    cursor: pointer;
}

.gallery img:hover {
    filter: unset;
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 50vw;
}

.colophon {
    text-align: center;
}

.tt_logo {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20vh;
    border-bottom: 0;
}

.tt_logo img {
    width: 15vw;
}

@media screen and (max-width: 768px) {

    html,
    body,
    h1 {
        font-size: 1rem;
    }

    .gallery img {
        height: 4rem;
        width: auto;
        margin: 0.25rem;
    }

    .tt_logo img {
        width: 20vw;
    }
}